node_modules
npm-debug.log
build
dist
.next
.vscode
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.env.production
docker-compose.yml
docker-compose.*.yml
.DS_Store
Thumbs.db
vendor/
.idea/
*.swp
*.log
postgres-data/
redis-data/
kafka-data/
